<form class="input-append">
    <input id="new-todo" type="text" placeholder="What do you need to do today?"/>
    <input class="btn" type="submit" value="Submit"/>
</form>
<ul>
    <!--To Do Itmes-->
</ul>
